canvas {
  width: 100%;
  height: 100%;
  z-index: 1;
  visibility: visible;
  /*position: absolute;*/
  /*overflow-y: hidden; // hide vertical
  overflow-x: hidden; // hide horizontal*/
}


body {
  font-family: "Helvitica", Arial;
  font-size:16px;
  color:#222;
  background-color: #f0f0f0;
  margin: 0px;
  overflow: hidden;
}

a {
  font-size: 16px;
  color: #444;
  text-decoration: underline;
  /*display: inline-block;*/
  /*margin-right: 6px;*/
  /*line-height: 20px;*/
}


.navbar {
  /*font-family: Monospace;*/
  position: absolute;
  width: 100%;
  opacity: 0.8;
  background: none;
  border: none;
  text-decoration: none;
}

.navbar-nav>li {
  display: none;
}

.navbar-inverse .navbar-nav >li>a:hover {
    color: #777;
    background-color: transparent;
}

.modal-content {
  opacity: 0.8;
  border-radius: 1%;
}

/*.info {
  font-size: 20px;
  font-family: Monospace;
  position: absolute;
  background-color: black;
  opacity: 0.8;
  color: white;
  text-align: center;
  top: 0px;
  width: 100%;
}
*/




.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}




/*login bar stuff*/

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb{
    color: #fff;
    background-color:#3b5998;
    margin-bottom: 1.5%;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
    margin-bottom: 1.5%;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
.btn-gl{
    color: #fff;
    background-color:#3369e8;
    margin-bottom: 1.5%;
}
.btn-gl:hover{
    color: #fff;
    background-color:#537EE4;
}
.btn-gh{
    color: #fff;
    background-color:#4CE8E3;
    margin-bottom: 1.5%;
}
.btn-gh:hover{
    color: #fff;
    background-color:#6DEFEA;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}



.modal-body#dream-entry-modal {
  overflow: hidden;
  height: 50%;
}

#dream-field {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}


/*signup modal stuff*/

#signup-modal input {
    width: 95%;
    margin: auto;
}

#signup-modal label {
    margin-left: 2.5%;
    padding-top: 1.5%;
}

#signup-modal em {
    margin-left: 2.5%;
}


/*signup 2*/
#test-signup>.dropdown-menu {
    display: block;
    position: absolute;
    right: 0;
    left: auto;
    margin: 1%;
}

#login-dp {
  /*position: absolute;*/
  top: 45px;
  margin: auto;
}
