canvas {
  width: 100%;
  height: 100%;
  z-index: 1;
  visibility: visible;
}


body {
  font-family: Monospace;
  background-color: #f0f0f0;
  margin: 0px;
  overflow: hidden;
}

.info {
  position: absolute;
  background-color: black;
  opacity: 0.8;
  color: white;
  text-align: center;
  top: 0px;
  width: 100%;
}

.info a {
  color: #00ffff;
}

#dreamDiv {
  z-index: 2000;
}






.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}
